
<div class="container" style="margin-top: 20px">
  <div class="row">
    <% @promos.each do |promo| %>
      <span class="thumbnail">
          <div class="col-sm-4">
            <%= image_tag(promo.imagen_url, :width => 200, :height => 200, style: "padding: 20px 5px 25px 5px;") if promo.imagen.present? %>
          </div>
          <div class="col-sm-8">
            <div class="container-promo">
              <h4 class="titulo"><%= promo.title %></h4>
              <p class="descripcion"><%= promo.description %></p>
              <h4 class="precio pull-right"><%= number_to_currency(promo.price, strip_insignificant_zeros: true) %></h4>
            </div>
          </div>
      </span>
    <%end %>
  </div>
</div>