// Place all the styles related to the Carousel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
}


.carousel-inner>.item>img{
	 max-width: 70% !important;
	 margin: 0px auto !important;
}