// Place all the styles related to the Promos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
	background-color: rgb(237,28,36);
	border-radius: 5px;
	color: white;
}


.price{
	background-color: rgb(255,203,8);
	border-radius: 5px;
	font-size: 15px;
}


.description{
	font-size: 10px;
}

div.productbox{
	display: inline-block;
	width: 85%;
	height:50%;
	padding: 10px 60px;
	margin: 1px auto;
	align-content: center;
}

.product-image{
  width: 80%;
  height: 90%; 
}


@media screen 
  and (max-width: 480px) 
  and (orientation: portrait) {
	
		.title{

	position: relative;
	align-content: center;
	margin: 10px auto;
	}


	.price{

	position: relative;
	}


	.description{
	font-size: 8px;
	position: relative;
	}

}





