// Place all the styles related to the Promos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: asset-url('Ara2.png') no-repeat;
  background-size: cover !important; 
  height: auto;
  width: auto;
}

.navbar{
  background-color: #ff3e0f;
  width: 100%;
  text-align: center;
}

.navbar-header{
  align-content: center;
  float: none;
  display: inline-block;
  margin: 0px auto; 
}


.titulo{
  text-align: center;
  font-size: 25px;
  color:red;
  position: relative;
  margin: 0px auto;
}

.precio{
  text-align: center;
  font-size: 35px;
  color: red;
  position: relative;
  margin: 5px auto;
}

.descripcion{
  text-align: center;
  font-size: 9px;
  position: relative;
  margin-top: 8px;
}


  .thumbnail img{
    margin: 0px 39%;
  }

// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');   
body{font-family: 'Quicksand', sans-serif;}
   h4{
      font-weight: 600;
  }

  .col-md-6 .sell_price{
    font-size: 14px;
    margin: 5px auto;
    color: #ac1816;

  }

  input[type='submit']{
    min-width: 80px !important;
    margin: 30px 10px 0px 10px;

  }

  .category-list a{
    font-size: 10px;
    color: #737373;
    text-decoration: none;
    padding: 0px !important;
    margin: 5px 10px;
  }

  .category-list li{
    position: relative;
    display: block;
    padding: 5px 5px;
    margin: 5px auto;
  }

  .category-list-ul li{
    padding: 5px !important;
  }

  ul.category-list-ul{
  display: inline-block;
  }

  .thumbnail{
    // opacity:0.70;
    // -webkit-transition: all 0.5s; 
    // transition: all 0.5s;
  }
  .thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 12px #cccccc;
  }
  .line{
    border-width: 0.8px;
    border-color: #ac1816;
  }
  @media screen and (max-width: 770px) {
    .right{
      float:left;
      width: 100%;
    }
  }
  span.thumbnail {
    border: 5px dotted #ac1816 !important;
    border-radius: 15px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    padding: 15px;
    min-height: 250px;
    width: 85%;
    margin: 10px auto;
    display: block;

  }

.container h4{
  margin-top:3px; 
  margin-bottom:0px;
}

.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}

.btn-info {
  color: #fff !important;
  background-color: #ac1816 !important;
  border-color: #fff !important; 
  font-size:11px;
  font-weight:100;
  max-width: 70px !important;
}


.sell_price{
  color:#ac1816;
  font-weight: bolder;
  font-size: 20px;
  margin: 5px 5px;
}

.product_name{
  font-weight: bold;
  font-size: 12px;
  color:black;
  text-align: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}







// @media screen 
//   and (max-width: 480px) 
//   and (orientation: portrait) {
    
//     span.thumbnail img{
//       margin-right: 0px;
//     }
//     .container-promo{
//       width: 75%;  
//     }
//     .container-promo p {
//       font-size: 18px !important;
//       font-style: bold;
//     }

// }